.vscode
build
dist
kinisi.egg-info
**/__pycache__
**/.DS_Store
.eggs
.coverage
htmlcov
**/.ipynb_checkpoints
**/Untitled.ipynb
abstracts
docs/source/example.hdf
docs/source/_static/.*.lock
docs/source/tmp.ipynb
kinisi/Parser_Refactor.txt
kinisi/old_ase.py
kinisi/old_mdanalysis.py
kinisi/old_parser.py
kinisi/old_pymatgen.py
